.container-contacts {
  display: flex;
  flex-direction: column;
  width: 231px;
}

.footer-contacts-list li:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts-link {
  color: $footer-link;
  font-size: 14px;
  line-height: 24px;

  &.adress {
    color: $white-color;
  }
}
