.form-item {
  position: relative;
  display: flex;
  flex-direction: column;

  & label {
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 14px;
  }

  & input {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 42px;
  }

  &:not(:first-child) {
    margin-top: 10px;
  }

}


.form-position {
  position: relative;
  color: $teg-h-navigation;
}

.form-field {
  width: 100%;
  border: 1px solid $modal-bordercolor;
  border-radius: 4px;
  outline: none;
  transition: border-color $transition-seting;
}

.form-field:focus {
  border-color: $hover-allblue;
}

.form-item:focus-within .form-field {
  border-color: $hover-allblue;
}

.form-item:focus-within .form-icon {
  color: $hover-allblue;
}

.form-icon {
  position: absolute;
  left: 15px;
  bottom: 50%;
  transform: translateY(50%);
  fill: currentColor;
  transition: color $transition-seting;
}

.form-textarea {
  padding: 12px 16px;
  font-size: 14px;
  line-height: 16px;
  border-radius: 4px;
  border: 1px solid $modal-bordercolor;

  resize: none;
  outline: none;
  transition: border-color $transition-seting;

  .form-item:focus-within & {
    border-color: $hover-allblue;
  }
}
